@using ModalServices.AdminModel
@model ChangePasswordModel

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" style="text-align:center;">Change Password</h4>
                @using (Html.BeginForm("ChangePassword", "Account", new { area = "Admin" }, FormMethod.Post, new { @class = "forms-sample", role = "form" }))
                {
                    <div class="form-group">
                        <label for="exampleInputPassword1">Old Password<span class="text-danger"><strong>*</strong></span></label>
                        @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control", @placeholder = "Old Password", @type = "password" })
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">New Password<span class="text-danger"><strong>*</strong></span></label>
                        @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control", @placeholder = "New Password", @type = "password" })
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputConfirmPassword1">Confirm Password<span class="text-danger"><strong>*</strong></span></label>
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @class = "form-control", @placeholder = "Old Password", @type = "password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    @*<button class="btn btn-light">Cancel</button>*@
                    <a class="btn btn-light" href="@Url.Action("Index","Home",new {area="Admin"})">Cancel</a>

                }

            </div>
        </div>
    </div>

</div>
